ion-header {
  position: relative;
  height: 70px;
}

ion-toolbar {
  --background: rgba(10, 25, 41, 0.35);
  
  min-height: 54px;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}

ion-content {
  --background: #f5f5f5;
}

// Contenitore principale
.container-request {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 90%;
  
  background-color: #ffffff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;

  margin: 3rem auto;
  padding: 32px;
}

// Spinner di caricamento 
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// Intestazione con icona e nome 
.profile-header {
  margin-bottom: 24px;

  .profile-avatar {
    font-size: 80px; 
    color: var(--ion-color-primary);
  }

  h2 {
    font-size: 1.8em;
    font-weight: 700;
    color: #333;
    margin: 8px 0 4px 0;
  }

  p {
    font-size: 1.1em;
    color: #777;
    margin: 0;
  }
}

//Lista dei dettagli 
.details-list {
  background: transparent; 
  width: 100%;

  ion-item {
    --background: transparent; 
    --padding-start: 0;
    --inner-padding-end: 0;
    --border-color: #f0f0f0; 

    ion-icon {
      margin-right: 16px;
      font-size: 1.4em;
    }

    p {
      font-size: 0.9em;
      color: #888;
      margin: 0;
    }
    h3 {
      font-size: 1.1em;
      color: #333;
      font-weight: 500;
      margin: 4px 0 0 0;
    }
  }
}
