ion-header {
  position: relative;
  height: 70px;
}

ion-toolbar {
  --background: rgba(10, 25, 41, 0.35);
  
  min-height: 54px;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}

ion-content {
  --background: #f5f5f5;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    
    ion-spinner {
        margin-bottom: 16px;
    }
    
    p {
        color: var(--ion-color-medium);
    }
}

.empty-card {
  display: flex;
  flex-direction: column; 
  
  justify-content: center; 
  align-items: center; 
  
  height: 100%;
  
  ion-icon {
    color: #888888; 
    margin-bottom: 20px;
    font-size: 64px;
  }

  h2 {
    font-size: 28px;
    font-weight: 700;
    color: #333333; 
    margin: 0 0 8px 0;
  }

  p {
    color: #666666;
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.request-container{
    border-radius: 15px;
    border: 1px solid grey;
    background: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.loan-card {
  margin-bottom: 16px;
  background: transparent;
  box-shadow: none;

  ion-card-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--ion-color-primary);
  }
  
  ion-card-subtitle {
    font-size: 12px;
    color: black;
    margin-bottom: 4px;
  }
}

.loan-info {
  margin: 16px 0;
  
  .info-row {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    
    ion-icon {
      font-size: 25px;
      color: var(--ion-color-primary);
      min-width: 20px;
    }
    
    span {
      font-size: 14px;
      color: black;
      
      strong {
        font-weight: 600;
      }
    }
  }
}

.action-buttons {
  margin-top: 20px;
  
  ion-button {
    margin-bottom: 8px;
    font-weight: 600;

    --background-hover-opacity: 0.25;
    
    ion-icon {
      font-size: 20px;
    }
  }
}
