ion-header {
  transition: transform 0.3s ease;
  z-index: 10;
  position: fixed;
  height: 80px;
}
ion-toolbar {
  --background: rgba(25, 40, 54, 0.874);
  //effetto blur
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  min-height: 54px;
  height: 100%;
  display: flex;
  align-items: center;
}

.app-logo{
  max-width: 72px;
  max-height: 72px;
  object-fit: contain;
  margin-left: 20px;
  vertical-align: middle;

  /* Responsive Mobile */
  @media (max-width: 480px) {
      width: 40px;
      height: 40px;
      margin-left: 5px;
    }

  /* Responsive Tablet */
  @media (min-width: 481px) and (max-width: 768px) {
      width: 44px;
      height: 44px;
      margin-left: 10px;
  }

  /* Desktop */
  @media (min-width: 769px) {
      font-size: 1.8rem !important;
  }

}


.app-name {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--ion-color-primary);
}

.role-title {
  margin: 0;
  margin-left: 8px;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
  
  @media (max-width: 480px) {
    font-size: 0.9rem;
    margin-left: 4px;
  }
  
  @media (max-width: 320px) {
    font-size: 0.8rem;
    margin-left: 2px;
  }
}

.divider-role {
  opacity: 0.6;
  margin: 0 6px;
  font-size: 1.5em;
  
  @media (max-width: 480px) {
    margin: 0 3px;
  }
}

ion-button {
  --padding-start: 5px;
  --padding-end: 5px;
}

//Responsive per mobile
@media (max-width: 600px) {
  ion-header {
    height: 70px;
  }
  ion-toolbar {
    min-height: 44px;
  }
  .app-logo {
    font-size: 1.1em;
  }
}

.hide-header {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.custom-searchbar {
  --background: rgb(255, 255, 255) !important;
  --border-radius: 24px !important;
  --box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08) !important;
  --padding-start: 12px !important;
  --padding-end: 12px !important;
  --icon-color: #666 !important;
  --placeholder-color: #4c4c4c !important;
  --color: #333 !important;
  margin: 8px 8px !important;
  text-align: left !important;

  @media (max-width: 768px) {
    max-width: 90%;
  }
}

// Su desktop: searchbar nella toolbar
.desktop-only {
  max-width: 400px !important;

  @media (max-width: 768px) {
    display: none !important;
  }
}

// Icona ricerca mobile
.mobile-search-icon {
  display: none !important;

  @media (max-width: 768px) {
    display: block !important;
  }
}

// Toolbar ricerca mobile
.mobile-search-toolbar {
  --background: rgba(123, 132, 145, 0.16);
  backdrop-filter: blur(10px);
  display: flex;
  gap: 8px;
  align-items: center;
  position: sticky !important;  
  top: 0 !important;            
  z-index: 100 !important;

  ion-searchbar {
    flex: 1;
    margin: 0;
  }
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;   
  text-align: center;
  color: #999;

  ion-icon {
    font-size: 4rem;
    color: #ddd;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.1rem;
  }
}

.search-list-first {
  padding-top: 14%;
}

.title-search {
  font-size: 15px;
  font-weight: bold;
  color: var(--ion-color-primary);
}

ion-modal{
  --background: transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.menu{
  position:relative;

  ion-badge{
    position: absolute;
    top: -8px;
    right: -5px;
    font-size: 12px;
    min-width: 20px;
    height: 20px;
    padding: 4px 5px;
    border-radius: 10px;
  }
}

.hero-content {
  position: relative;
  min-height: 500px; 
  //overflow: hidden;
  z-index: 1;
}

.hero-content::before {
  content: '';
  background: url('/assets/benvenuto.png') center/cover no-repeat;
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  z-index: 1;
}

.hero-content::after {
  content: "";
  position: absolute;
  left: 0; top: 0; 
  width: 100%; 
  background: rgba(10, 25, 41, 0.35);
  pointer-events: none;
  z-index: 2;
}

.hero-gradient {
   position: absolute;
  left: 0; right: 0;
  bottom: 0; height: 120px;
  background: linear-gradient(
    to bottom,
    rgba(10, 25, 41, 0) 0%,        
    rgba(10, 25, 41, 0.5) 40%,     
    rgba(10, 25, 41, 0.85) 70%,    
    #0a1929 100%                   
  );
  pointer-events: none;
  z-index: 3;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  //per impilare i figli (button, sottotitolo, bottone)
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  width: 90%;
  max-width: 800px;
  z-index: 5;
  color: #fff;
  font-weight: bold;
  text-shadow: 0px 1px 12px rgba(0,0,0,0.5);
  text-align: center;

  @media (max-width: 768px) {
    max-height: 50%; 
    font-size: 80%;
  }
}

.hero-title{
  font-size: 3.50em;
  font-weight: bold;
  color: #fff;
  margin: 0 0 12px 0;
}

.hero-subtitle{
  font-size: 2em;
  font-weight: 400;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.Main-button{
  display: block ;
  visibility: visible ;
  opacity: 1 ;
  position: relative;
  z-index: 10 ;

  width: 100%;
  max-width: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.content-section-card {
  position: relative;
  z-index: 5;
  box-shadow: 0 8px 24px rgba(30,30,60,0.13);
  background: #fff;
  border-radius: 18px;
  padding: 26px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px; 
}

// SOLO la prima card che ha overlap
.content-section-card.first-content {
  z-index: 10;
  margin-top: -60px; 
}

ion-content {
  --background: #0a1929;
  position: relative;

    .section-title { 
        font-weight: bold;
        font-size: 1.8em;
        margin-bottom: 0px;
        padding-left: 15px;
        padding-top: 15px; 
        padding-right: 15px;
        display: block;
        color: black;
    }

    .horizontal-scroll-container {
        display: flex;
        overflow-x: scroll;
        padding: 5px 15px 15px;
        width: 100%;
        box-sizing: border-box;

        //nasconde la scrollbar
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }

    //card piccole
    .small-item-card {
      min-width: 120px;
      width: 120px;
      height: 190px;
      flex-shrink: 0;
      margin-right: 15px;
      border-radius: 10px;
      overflow: hidden;
      --background: var(--ion-color-white, #fff);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

      img {
        width: 100%;
        height: 130px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }
      ion-card-header {
        padding: 8px;
        text-align: center;
        ion-card-title {
          font-size: 0.9em;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
          color: black;
        }
      }
    }
  }

  .section-item {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
    --background: transparent;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .divider {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid var(--ion-color-primary);
    padding-top: -10px;
  }
}

ion-label {
    opacity: 1 !important;
    width: auto !important;
    font-size: 1.1em;
    padding: 10px;
  }


