ion-header {
  position: relative;
  height: 70px;
}

ion-toolbar {
  --background: rgba(10, 25, 41, 0.35);
  
  min-height: 54px;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}

ion-content{
    --background: #f4f5f7;
}

.center-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: center;  
  min-height: 100%;
  padding: 16px;
}

.container-list{
    width: 100%;
    max-width: 900px;

    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.288);
    background: var(--ion-color-step-50, #f8f8f8);

    ion-item{
        --background: transparent;
        border-radius: 10px;
    }

}

.text{
    color: black;
}

// Stile per il contenitore a destra 
.inventory-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end; // Allinea tutto a destra
    justify-content: center;
    text-align: right;
    height: 100%; 
    padding-left: 8px;
}

// Stile per il contatore (i numeri) 
.copy-counter {
    margin-bottom: 10px; 

    h3 {
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--ion-color-medium); 
        margin: 0;
        line-height: 1;
    }

    // Stile speciale per quando le copie sono a zero
    .copies-zero {
        color: var(--ion-color-danger); 
    }
}

// Stile per il pulsante "Richiedi"
.inventory-controls ion-button {
    font-size: 0.8rem;
    --background-hover-opacity: 0.25;
}

// Opzionale: assicura che il thumbnail non sia troppo piccolo 
ion-thumbnail {
    --size: 90px;
    --border-radius: 4px;
}