.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/registrazione_login.png') no-repeat center/cover;
  z-index: -1;
}

.background-image::after {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  pointer-events: none;
  background: rgba(30, 47, 67, 0.134); 
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
} 

.background-color {
  position: fixed;
  top: 0; left: 0;
  background: var(--ion-color-primary, #172642); 
  z-index: 0;
}

ion-header {
  background: rgba(123, 132, 145, 0.16);;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(44, 51, 63, 0.13);
  height: 54px;
}

ion-toolbar {
  --background: transparent;
  min-height: 54px;
  display: flex;
  align-items: center;
}

ion-button {
  --padding-start: 5px;
  --padding-end: 5px;
}

ion-content {
  --background: transparent;
}

.login-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 40px;
  
  background: rgba(255, 255, 255, 0.232);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 18px;
  box-shadow: -18px 0px 32px rgba(110, 118, 136, 0.358);
  
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 2;

  @media (max-width: 768px){
    padding: 40px 24px;
    max-width: 90%;
  }
}

.login-container h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  color: #0b264c;
}

.login-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  z-index: 2;
}

.login-container .actions {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
  z-index: 2;
}

.login-container ion-text {
  margin-top: 1.10rem;
  font-size: 1.0rem;
  z-index: 2;
}

.login-container ion-label {
  margin-bottom: 0.50rem;
}

.login-container .LoginLink {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 8px;
}

ion-input {
  --background: transparent;
  --color: #fff; 
  --padding-start: 20px;
  --padding-end: 20px;
  z-index: 2;
}

ion-input input {
  background: transparent !important;
  color: #fff !important;
  box-shadow: none !important;
  z-index: 2;
}

ion-item {
  --background: rgba(255, 255, 255, 0.142);
  border-radius: 25px;
  z-index: 2;
}

ion-button {
    width: 300px;
}