<ion-list>
  <ion-item-divider>
    <ion-label>{{ username }}</ion-label>
  </ion-item-divider>
  
  <ion-item button (click)="goToProfile()">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>Il mio profilo</ion-label>
  </ion-item>

  <ion-item button (click)="goToMyBooks()">
    <ion-icon name="library-outline" slot="start"></ion-icon>
    <ion-label>I miei libri</ion-label>
  </ion-item>

  <ion-item-divider></ion-item-divider>

  <ion-item button (click)="confirmLogout()">
    <ion-icon name="log-out-outline" slot="start"></ion-icon>
    <ion-label color="danger">Logout</ion-label>
  </ion-item>
</ion-list>