<ion-list>
  <ion-item-divider>
    <ion-label>{{ username }}</ion-label>
  </ion-item-divider>

  <ion-item button (click)="openNotificationsPopover($event)">
    <ion-icon name="notifications" slot="start"></ion-icon>
    <ion-label>Notifiche</ion-label>
    <ion-badge *ngIf="unreadCount > 0" color="danger" slot="end" class="badge">
      {{ unreadCount }}
    </ion-badge>
  </ion-item>
  
  <ion-item button (click)="goToProfile()">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>Il mio profilo</ion-label>
  </ion-item>

  <ion-item button (click)="goToMyBooks()" *ngIf="isUser">
    <ion-icon name="library-outline" slot="start"></ion-icon>
    <ion-label>I miei libri</ion-label>
  </ion-item>

  <ion-item button (click)="goToMyLoansHistory()" *ngIf="isUser">
    <ion-icon name="time-outline" slot="start"></ion-icon>
    <ion-label>Cronologia prestiti</ion-label>
  </ion-item>

  <ion-item button (click)="goToLoansLibrary()" *ngIf="isLibrarian">
    <ion-icon name="library-outline" slot="start"></ion-icon>
    <ion-label>Prestiti</ion-label>
  </ion-item>

  <ion-item button (click)="goToInventory()" *ngIf="isLibrarian">
    <ion-icon name="archive-outline" slot="start"></ion-icon>
    <ion-label>Inventario e Prenotazioni</ion-label>
  </ion-item>

  <ion-item button (click)="goToBookManagement()" *ngIf="isAdmin">
    <ion-icon name="archive-outline" slot="start"></ion-icon>
    <ion-label>Gestione Libri</ion-label>
  </ion-item>

  <ion-item-divider></ion-item-divider>

  <ion-item button (click)="Logout()">
    <ion-icon name="log-out-outline" slot="start"></ion-icon>
    <ion-label color="danger">Logout</ion-label>
  </ion-item>
</ion-list>