<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrazione</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="registration-container">
    <h2>Crea il tuo account</h2>
    <form (ngSubmit)="submitRegistration()" #regForm="ngForm">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input [(ngModel)]="user.username"  name="username" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="user.email"  name="email" required type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="user.password" name="password" required type="password"></ion-input>
      </ion-item>
      <div class="actions">
        <ion-button type="submit" expand="block" color="primary" [disabled]="isLoading || !regForm.form.valid">
          Registrati
        </ion-button>
        <ion-spinner *ngIf="isLoading" name="crescent" color="primary"></ion-spinner>
      </div>
      <ion-text color="danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </ion-text>
      <ion-text color="success" *ngIf="successMessage">
        {{ successMessage }}
      </ion-text>
    </form>
  </div>
</ion-content>