/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

@supports (backdrop-filter: blur(10px)) {
  .registration-container {
    backdrop-filter: blur(10px);
  }
}

@supports (-webkit-backdrop-filter: blur(10px)) {
  .registration-container {
    -webkit-backdrop-filter: blur(10px);
  }
}

* {
  scrollbar-width: none !important; // Firefox 
  -ms-overflow-style: none !important; // IE/Edge 
}

*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}

ion-content::part(scroll) {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

ion-content::part(scroll)::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

ion-popover.force-white-popover {
  --background: #ffffff !important;
  --ion-background-color: #ffffff !important;
  --min-width: 300px;
  --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12) !important;
}

ion-popover.force-white-popover::part(content) {
  background: #ffffff !important;
  border-radius: 8px; 
  border: none !important; 
}

.force-white-popover ion-list {
  background: #ffffff !important;
  --background: #ffffff !important;
  
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
}

.force-white-popover ion-item,
.force-white-popover ion-content {
  --background: #ffffff !important;
  --ion-background-color: #ffffff !important;
  --color: #000000 !important;
  --border-color: #f0f0f0 !important;
  --ion-item-border-color: #f0f0f0 !important;
}

/* 5. Icone scure */
.force-white-popover ion-icon {
  color: #555555 !important;
}

.force-white-popover ion-item-divider {
  --background: #f9f9f9 !important;
  --color: #000000 !important;
  --border-color: #f0f0f0 !important;
  border-bottom: 1px solid #f0f0f0 !important;
  margin-top: 0 !important; 
}

ion-toolbar ion-icon,
ion-header ion-icon {
  color: #ffffff !important;
}

// Forza bianco SOLO dentro i bottoni solidi 
ion-button[fill="solid"] ion-icon {
  color: #ffffff !important;
}

ion-card ion-card-header ion-icon{
   color: #ffffff !important;
}
