ion-header {
  transition: transform 0.3s ease;
  background: rgba(25,28,38,0.82);
  z-index: 10;
  position:relative;

  //effetto blur
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  border-bottom: 1px solid rgba(44,51,63,0.13);
  height: 54px;
}

ion-toolbar {
  --background: transparent;
  --color: var(--ion-color-dark);
  padding: 0 10px;

  min-height: 54px;
  height: 100%;
  display: flex;
  align-items: center;
}

.app-logo {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--ion-color-primary);
}

ion-button {
  --padding-start: 5px;
  --padding-end: 5px;
}

//Responsive per mobile
@media (max-width: 600px) {
  ion-header {
    height: 44px;
  }
  ion-toolbar {
    min-height: 44px;
  }
  .app-logo {
    font-size: 1.1em;
  }
}

.hide-header {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.hero-content {
  position: relative;
  min-height: 450px; 
   background: url('/assets/benvenuto.png') center/cover no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  //background-color: #2976e4;
  z-index: 1;
}

.hero-content::before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100vw; height: 100%;
  background: rgba(30,30,60,0.27); // overlay solo leggero per deep glass 
  z-index: 2;
}

.hero-content::after {
  content: "";
  position: absolute;
  left: 0; right: 0; bottom: 0;
  height: 90px; 
  background: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 5%,
    rgba(41,118,228,0.8) 65%,
    var(--ion-color-primary) 100%
  );
  pointer-events: none;
  z-index: 10;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 5;
  color: #fff;
  font-weight: bold;
  text-shadow: 0px 1px 12px rgba(0,0,0,0.5);
  text-align: center;
  padding-bottom: 30px; 
}

.hero-title{
  font-size: 3.50em;
  font-weight: bold;
  color: #fff;
  margin: 0 0 12px 0;
}

.hero-subtitle{
  font-size: 2em;
  font-weight: 400;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.content-section-card {
  position: relative;
  z-index: 5;
  box-shadow: 0 8px 24px rgba(30,30,60,0.13);
  background: #fff;
  border-radius: 18px;
  padding: 26px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px; //spazio tra le sezioni
}

// SOLO la prima card che ha overlap
.content-section-card.first-content {
  z-index: 10;
  margin-top: -50px; 
}

ion-content {
  --background: var(--ion-color-primary);
  position: relative;

    .section-title { 
        font-weight: bold;
        font-size: 1.8em;
        margin-bottom: 0px;
        padding-left: 15px;
        padding-top: 15px; 
        padding-right: 15px;
        display: block;
        color: black;
    }

    .horizontal-scroll-container {
        display: flex;
        overflow-x: scroll;
        padding: 5px 15px 15px;
        width: 100%;
        box-sizing: border-box;

        //nasconde la scrollbar
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }

    //card piccole
    .small-item-card {
      min-width: 120px;
      width: 120px;
      height: 190px;
      flex-shrink: 0;
      margin-right: 15px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      --background: var(--ion-color-white, #fff);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

      img {
        width: 100%;
        height: 130px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }
      ion-card-header {
        padding: 8px;
        text-align: center;
        ion-card-title {
          font-size: 0.9em;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
          color: black;
        }
      }
    }
  }

  .section-item {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
    --background: transparent;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .divider {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid var(--ion-color-primary);
    padding-top: -10px;
  }
}

ion-label {
    // Forza la visibilità del testo
    opacity: 1 !important;
    width: auto !important;
    font-size: 1.1em;
    padding: 10px;
  }

/*ion-popover {
  // Imposta un background chiaro e un testo scuro per visibilità
  --background: var(--ion-color-light, #f8f8f8); 
  --color: var(--ion-color-dark, #000); 

  --widht: fit-content; //larghezza sufficiente per gli item

  ion-item {
    width: auto !important;
    min-width: 220px !important;
    max-width: 100% !important;
    overflow: visible !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
    --background: transparent; // Gli item siano trasparenti per vedere il background del popover
    --color: var(--ion-color-dark, #000); // Colore del testo degli item
    --padding-start: 15px;
    --padding-end:  15px;
  }

  ion-label {
    // Forza la visibilità del testo
    opacity: 1 !important;
    width: auto !important;
    font-size: 1.1em;
  }

  ion-icon {
    // Forza la visibilità dell'icona
    //color: var(--ion-color-dark, #000) !important; 
    font-size: 1.5em !important; 
  }
}*/